/*This is the stylesheet for the V-chat pages iframe*/

:root {
    /*Default, light, the one that matters, starts like this if browser has no preferance*/
    background-color: #E5E5E7;

    --bg-color: rgb(218, 218, 238); /*Background of main*/
    --real-bg: radial-gradient(ellipse at top, rgb(228, 226, 214), transparent), radial-gradient(ellipse at bottom, rgb(183, 183, 194), transparent); /*Background of screen*/
    --underline-color: rgb(203, 203, 224);
    --select-color: rgb(188, 188, 209);
    --highlight-color: rgb(162, 162, 184);
    --text-color: rgb(84, 102, 152);
    --primary-color: rgb(133, 152, 207); 
    --secondary-color: rgb(170, 165, 146);
    --extra-color: rgb(177, 112, 206);

    --blob-opacity: 100%;
}

:root[color-theme="light"] {
    /*light variants*/
    background-color: #E5E5E7;

    --bg-color: rgb(218, 218, 238); /*Background of main*/
    --real-bg: radial-gradient(ellipse at top, rgb(228, 226, 214), transparent), radial-gradient(ellipse at bottom, rgb(183, 183, 194), transparent); /*Background of screen*/
    --underline-color: rgb(203, 203, 224);
    --select-color: rgb(188, 188, 209);
    --highlight-color: rgb(162, 162, 184);
    --text-color: rgb(84, 102, 152);
    --primary-color: rgb(133, 152, 207); 
    --secondary-color: rgb(170, 165, 146);
    --extra-color: rgb(177, 112, 206);

    --blob-opacity: 100%;
}

:root[color-theme="dark"] {
    /*Dark variants*/
    background-color: rgb(18, 20, 24); 

    --bg-color: rgb(18, 18, 38); /*Background of main*/
    --real-bg: radial-gradient(ellipse at top, rgb(40, 44, 52), transparent), radial-gradient(ellipse at bottom, rgb(18, 20, 24)); /*Background of screen*/
    --underline-color: rgb(31, 31, 51); 
    --select-color: rgb(45, 45, 67);
    --highlight-color: rgb(71, 71, 92);
    --text-color: rgb(104, 122, 172); 
    --primary-color: rgb(47, 65, 113); 
    --secondary-color: rgb(109, 104, 85); 
    --extra-color: rgb(73, 25, 95);

    --blob-opacity: 60%;
}