/* Giscus Custom Theme Stylesheet */
main {
    --color-canvas-default: rgb(228, 226, 214); /* Bakgrund */
    --color-canvas-subtle: rgb(203, 203, 224);  /* Trådar/Boxar */
    --color-border-default: rgb(188, 188, 209); /* Kanter */
    --color-fg-default: rgb(84, 102, 152);     /* Textfärg */
    --color-accent-fg: rgb(177, 112, 206);      /* Länkar/Knappar (Din extra-color) */
    --color-btn-primary-bg: rgb(133, 152, 207); /* 'Post'-knapp */
    --color-btn-primary-text: #ffffff;

    /* Typsnitt */
    font-family: Georgia, 'Times New Roman', Times, serif;
}