:root {
    /*default colors*/
    --bg-color: #fef0f9;
    --darker-bg-color: #d9ced5;
    --primary-color: #ef198a;
    --second-color:#96f67a;
    --acent-color: #44f2a8;
    --text-color: #17020d;

    /*Gradients*/
    --top-bar-gradient: linear-gradient(180deg, var(--bg-color) 0%, var(--darker-bg-color) 100%);
}

* {
    margin: 0px;
}

body {
    background-color: var(--bg-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    flex-grow: 1;
    position: relative;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
    background-color: var(--darker-bg-color);
    position: absolute;
    bottom: 0;
    width: 100vw;
    border-top: solid;
    border-top-width: 2px;
    border-color: var(--text-color);
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 1.2vw;
    white-space: nowrap;
}

.gradient_text {
    background-image: linear-gradient(130deg, var(--primary-color) 0%, var(--second-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}

#top_bar {
    z-index: 1000;
    position: sticky;
    top: 0;
    min-width: 100%;
    height: 3.5em;
    background-image: var(--top-bar-gradient);
    display: flex;
    justify-content: left;
    overflow: auto;
}
.top_bar_elements {
    font-size: 3em;
}
.top_bar_button {
    margin-left: 0.4em;
    margin-right: 0.4em;
    height: 3.5em;
    height: 100%;
    border: none;
    color: var(--text-color);
    background-image: var(--top-bar-gradient);
    transition-duration: 0.2s;
    white-space: nowrap;
}
.top_bar_button:hover {
    color: white;
}
.top_bar_button_current {
    color: var(--primary-color);
}

/*Start tab*/
.start_text_på_index {
    padding-left: 0.4em;
    font-size: 10vw;
    opacity: 20%;
    text-align: center;
    transition: 0.5s;
}
.start_text_på_index:hover {
    opacity: 80%;
    font-size: 14vw;
}
#start_page_bg_text {
    position: absolute; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: auto;
}

.page_content_cards {
    width: 30em;
    height: 20em;
    background-color: var(--second-color);
    border-radius: 5px;
    margin-top: 10em;
}
#page_content_cards_webbsidor {

}
#page_content_cards_gjort {

}
#page_content_cards_östra_löken {

}
#page_content_cards_smj_prod {

}
#page_content_cards_kontaktinfor {

}
.page_content_top_bar_button {
    top: 0;
    position: sticky;
    z-index: 1001;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 0.5em;
    height: 3.5em;
    border: none;
    color: var(--text-color);
    background-image: var(--top-bar-gradient);
    transition-duration: 0.2s;
    white-space: nowrap;
    overflow: visible;
}
.page_content_top_bar_elements {
    font-size: 3em;
}

/*Östra Löken*/
.Östra_Löken_Utgåva {
    display: grid;
    height: 95vh;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 5fr 2fr;
}
.Östra_Löken_Artikel_Del {
    height: 100%;
}

.Östra_Löken_artikel_beskrivning, 
.Östra_Löken_Knappar {
    border-left: 3px solid var(--darker-bg-color);
}
.Östra_Löken_Titel,
.Östra_Löken_Knappar,
.Östra_Löken_Titel, 
.Östra_Löken_artikel_beskrivning {
    border-top: 3px solid var(--darker-bg-color);
}
#Östra_Löken_Artikel_PDF {
    height: 100%;
    width: 100%;
}
.Östra_Löken_artikel_beskrivning {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
}
.Östra_Löken_Beskrivning {
    text-align: center;
    
}
.Östra_Löken_Titel {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
}
#Östra_Löken_Titel_Inehål {
    text-align: center;
    font-size: 4.5vw;
}
.Östra_Löken_Knappar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Östra_Löken_LeftRight_Arrow_button {
    width: 50%;
    height: auto;
    border: none;
    background-color: var(--bg-color); /*the background color as if it is transparent*/
}
.Östra_Löken_Left_Arrow_button:hover {
    transition: 0.1s;
    padding-left: 2em;
}
.Östra_Löken_Right_Arrow_button:hover {
    transition: 0.1s;
    padding-right: 2em;
}
.Östra_Löken_LeftRight_Arrow_img {
    width: 50%;
    height: auto;
}

/*Socials tab*/
#kontaktinfo_stor_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials_boxes {
    background-color: var(--second-color);
    color: var(--text-color);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    width: 37em;
    height: 11em;
    text-decoration: none;
}
.socials_boxes:hover {
    background-color: var(--acent-color);
    cursor: pointer;  
    transition: 0.1s;
}
.socials_logo {
    background-color: white;
    height: 20vh;
    width: auto;
    border: none;
    border-radius: 12px;
    padding: 0.3em;
    padding-left: 5px;
    padding-top: 5px;
    mix-blend-mode: multiply;
}
.socials_logo:hover {
    cursor:pointer;  
    transition: 0.1s;
}
.socials_text {
    padding: 0.1em;
    font-size: 4em;
}
#socials_steam {
    margin-top: 3em;
}
#socials_youtube {
    margin-top: 3em;
}
#socials_github {
    margin-top: 3em;
}
#socials_email {
    margin-top: 3em;
    margin-bottom: 2em;
}