/*This is the universal stylesheet for all pages on this site*/

:root {
    --bg-color: #fefaf7; /*Background of main*/
    --dark-bg-color: #f5f2f1;
    --darker-bg-color: #e4e0de;
    --darkest-bg-color: #cac8c7;
    --text-color: #0c0501;
    --primary-color: #ED7323; 
    --secondary-color: #f5e27a; 
    --accent-color: #edf248; 
}

* {
    margin: 0;
}

/*Background and main*/
body {
    background-image: url("../images/background.png");
    background-size: 10rem;
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
main {
    background-color: var(--bg-color);
}
footer {
    background-color: var(--darker-bg-color);
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    font-size: 1.25rem;
}
#email_footer_text:hover {
    text-decoration: underline;
}
@media (width >= 0) and (width <= 100em) {
    main {
        width: 100vw;
    }
}
@media (width > 100em) {
    main {
        width: 100em;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    footer {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;        
    }
}
@media (width > 100em) and (height > 150em) {
    main {
        margin-top: 4rem;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        transition: 0.3s ease;
    }
}


/*General text styling*/
h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--primary-color);
}
h2 {
    font-size: 3rem;
}
p {
    font-size: 1.5rem;
}
li {
    font-size: 1.5rem;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

/*Header and container inside*/
#main_header_for_page {
    font-size: 9rem;
    margin-bottom: -1.5rem;
}
#main_header_for_page:hover {
    text-shadow: 2px 2px var(--secondary-color);
}
#main_under_text {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    cursor: default;
}
@media (width >= 0) and (width <= 100em) {
    #main_header_for_page {
        font-size: 9vw;
        margin-bottom: -1.5vw;
    }
    #main_under_text {
        font-size: 3vw;
        margin-bottom: 1.5vw;
    }
}

.content_container {
    display: block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;
    transition: 0.1s;
}
a.content_container:hover {
    background-color: var(--dark-bg-color);
}