* {
    margin: 0;
    padding: 0;
}

/* setup */
body {
    background-color: black;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

/* main */
main {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10rem;
    margin-top: 3rem;
    z-index: 2;
}
#welcome_title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* background text */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #1f391c80;
    overflow: hidden;
    user-select: none;
    overflow-wrap: break-word;
    z-index: 1;
    mask: linear-gradient(to left, white 0%, transparent 30%, transparent 70%, white 100%);
}